ul{
    display: flex;
    margin: 1rem;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20rem;
   
}
li{
    margin: 1rem;
}
a{
    color: green;
    font-size: 24px;
    text-decoration: none;
    
}